<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Organizer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating" size=small>EVENTS</ion-label>
      <ion-select value="Event" [(ngModel)]="event" #ref>
        <ion-select-option [value]="e.eventname" *ngFor="let e of events" >{{e.eventname}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating" size=small>password</ion-label>
      <ion-input type="password" #password></ion-input>
    </ion-item>
    
      <ion-button (click)="SelectedEvent(password.value,ref.value)" expand="block">login</ion-button>
{{msg}}
  </ion-list>
  
</ion-content>
