<html>
    <head></head>
    <body style="margin: auto;">
        <p align="center" style="margin-top: 3%;"><b>You are sucessfully registered for the Ecficio 4.0<br>
        This mail contains your e-receipt along with your unique qrcode. Have fun at our events.</b></p>
        <div style="background-color:aquamarine;margin:10% 10%;">
            <div align="center">
                <h1 style="color:black;"><b>Ecficio 4.0</b></h1> 
                <h2 style="color: black;"><b>Receipt No:{{receipt}}</b></h2>  
            </div><br><br>
            <div align="center">
                <img height="25%" src="cid:baka@ecficio.com" alt=""/>
            </div><br><br>
            <div align="center" style="color:black;">
                <p>{{name}}</p>
                <p>Thanks For Registering!!</p>
                <p><b>Note:</b>Please Show The <b>QRCODE</b> at the Time of Participating in Events</p>
            </div>
        </div>
    </body>
</html>